body {

    background: black;
    margin: 0px;
}
.container {
background: white;
margin: auto;
width: 500px;
}
div.container img {
width: 100%;
}
div.container p {
    margin: 10px;
    padding-bottom:10px ;  
}
.title {
 display: inline-block;
 width: 500px;

}

.likes {
 width: 100%;
 font-size: 30px;

}
div {
    box-sizing: border-box;
}

div.container .title div:first-child {
 display: inline-block;
width: 10%;
 padding: 25px;
font-size: 30px;

}
.title .nombre {
display: inline-block;
width: 70%;
}

.puntos{
width: 10%;
text-align: right;
display: inline-block;
padding-left: 70px;
 font-size: 30px;
}
div.container .likes div:first-child {
    display: inline-block;
    width: 80%;
    font-size: 30px;
    padding: 10px;
}
.save {
    width: 10%;
    display: inline-block;
    text-align: right;
    padding-left: 50px;
    font-size: 30px;

}

h3,
h4 {
    margin: 0px;

}